@font-face
    font-family 'RubikMoonrocks'
    src url('/notes/fonts/RubikMoonrocks.ttf')
@font-face
    font-family 'FredokaOne'
    src url('/notes/fonts/FredokaOne.ttf')
@font-face
    font-family 'ZCOOLKuaiLe'
    src url('/notes/fonts/ZCOOLKuaiLe.ttf')
body, .ui-post-title
    font-family ZCOOLKuaiLe
.ui-post-title, #vuepress-theme-blog__post-layout, .vuepress-blog-theme-content, h1, h2, h3, h4, h5
    font-family ZCOOLKuaiLe !important
.align-center
    display block
    margin 0 auto
.header-wrapper .title a
    font-family RubikMoonrocks
.header-wrapper .header-right-wrap .nav .nav-item a
    font-family FredokaOne
